{{log this}}
<form class="box" action="/account/updateUser/{{user._id}}" method="POST">
  <label>User Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter First Name" name="firstName" value="{{user.firstName}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Last Name" name="lastName" value="{{user.lastName}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Email" name="email" value="{{user.email}}">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Password" name="password" value="{{user.password}}">
      </div>
    </div>
  </div>
  <button class="button is-primary">Update User</button>
</form>