<div class="columns">
  <div class="column is-one-fifth">
    <div class="card has-background-black">
        <span class="icon has-text-info is-large is-pulled-right">
            {{>icons/location}}
        </span>
      <div class="card-content has-text-white">
        <div class="content mt-3">
          <h3 class="has-text-white">{{name}}</h3>
          <br>
          Lat: {{latitude}}
          <br>
          Lng: {{longitude}}
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-fifth">
    <div class="card has-background-black">
        <span class="icon has-text-info is-large is-pulled-right">
                    {{#ifeq latestReading.status 'Clear'}}
                        {{>icons/clear}}
                    {{/ifeq}}
                    {{#ifeq latestReading.status 'Partial Clouds'}}
                        {{>icons/partial-clouds}}
                    {{/ifeq}}
                    {{#ifeq latestReading.status 'Cloudy'}}
                        {{>icons/cloudy}}
                    {{/ifeq}}
                    {{#ifeq latestReading.status 'Light Showers'}}
                        {{>icons/light-showers}}
                    {{/ifeq}}
                    {{#ifeq latestReading.status 'Heavy Showers'}}
                        {{>icons/heavy-showers}}
                    {{/ifeq}}
                    {{#ifeq latestReading.status 'Rain'}}
                        {{>icons/rain}}
                    {{/ifeq}}
                    {{#ifeq latestReading.status 'Snow'}}
                        {{>icons/snow}}
                    {{/ifeq}}
                    {{#ifeq latestReading.status 'Thunder'}}
                        {{>icons/thunder}}
                    {{/ifeq}}
                </span>
      <div class="card-content has-text-white	">
        <div class="content mt-3">
          <h3 class="has-text-white">Weather</h3>
          <br>
          {{latestReading.status}}
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-fifth">
    <div class="card has-background-black">
        <span class="icon has-text-info is-large is-pulled-right">
            {{>icons/thermometer}}
        </span>
      <div class="card-content has-text-white	">
        <div class="content mt-3">
          <h3 class="has-text-white">Temp</h3>
          <br>
          {{latestReading.temperature}} °C
          <br>
          {{latestReading.temperatureFahrenheit}} °F
          <br>
          Max: {{maxTemperature}}
          <br>
          Min: {{minTemperature}}
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-fifth">
    <div class="card has-background-black">
        <span class="icon has-text-info is-large is-pulled-right">
            {{>icons/wind}}
        </span>
      <div class="card-content has-text-white	">
        <div class="content mt-3">
          <h3 class="has-text-white">Wind</h3>
          <br>
          {{latestReading.windBeaufort}} bft
          <br>
          {{latestReading.compassDirection}}
          <br>
          Feels like
          <br>
          {{latestReading.windChill}}
          <br>
          Max: {{maxWind}}
          <br>
          Min: {{minWind}}
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-fifth">
    <div class="card has-background-black">
        <span class="icon has-text-info is-large is-pulled-right">
            {{>icons/pressure}}
        </span>
      <div class="card-content has-text-white	">
        <div class="content mt-3">
          <h3 class="has-text-white">Pressure</h3>
          <br>
          {{latestReading.pressure}} hpa
          <br>
          Max: {{maxPressure}}
          <br>
          Min: {{minPressure}}
        </div>
      </div>
    </div>
  </div>
</div>